name: Format

on:
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed

jobs:
  run-eslint:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
    
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'npm'

      - name: Install Node.js dependencies
        run: npm ci

      - name: Code Format Check
        run: npm run format:check