name: Format

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  run-eslint:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
    
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'npm'

      - name: Set npm shell
        run: npm config set script-shell "C:\\Program Files\\Git\\bin\\bash.exe"
        
      - name: Install Node.js dependencies
        run: npm ci

      - name: Code Format Check
        run: npm run format:check